{% extends "base.html" %}

{% block title %}Search Results{% endblock %}
{% block content %}

<div class="content">
  <form action={% url "edit_name" name.tei_id %} method="post">
  {% csrf_token %}

{% if form.is_valid %}<p>Yes</p>{% else %}<p>No</p>{% endif %}
{% if what %}<p>{{what}}</p>{% else %}<p>No what</p>{% endif %}
{% if errors %}<p>{{errors}}</p>{% else %}<p>No errors</p>{% endif %}
{% if form.is_bound %}<p>Yes</p>{% else %}<p>Form not bound</p>
{% endif %}
  
{% for field in form %}
<div class="fieldWrapper">
  {{field.errors}}
  {{field.label_tag}}: {{field}}
</div>
{% endfor %}

<p><button><input type="submit" name="nameform" value="Save Record"/></button></p>
</form>

</div>
{% endblock %}