{% extends "base.html" %}

{% block title %}Search Results{% endblock %}
{% block content %}

<!--Need to add form to update record-->

<div class="content">

{% if name %}

<h3 align="center">{% if name.forename %}{{name.forename}}{% endif %} {{name.surname}}</h3>
  
<p><b>ID: </b>{{name.tei_id}}<br>
<b>Surname: </b>{% if name.surname %}{{name.surname}}{% endif %}<br>
<b>Forename(s): </b>{% if name.forename %}{{name.forename}}{% endif %}<br>
<b>Birth: </b>{% if name.birth %}{{name.birth}}{% endif %}<br>
<b>Death: </b>{% if name.death %}{{name.death}}{% endif %}<br>
<b>VIAF: </b>{% if name.viaf %}{{name.viaf}}{% endif %}<br>
<b>ODNB: </b>{% if name.odnb %}{{name.odnb}}{% endif %}<br>
<b>Encoded segment: </b>{% if name.seg %}{{name.seg}}{% endif %}<br>
<b>Notes: </b>{% if name.notes %}{{name.notes}}{% endif %}</p>
  
{% endif %}

<p/>
<p><a href={% url "save_name" name.tei_id %}>Save Record</a></p>
  
</div>
{% endblock %}